
.main-card {
  background-color: #fffef6e8;
  border-radius: 15px;
  box-shadow: 0 0 20px #d6d5d0;
  padding: 20px;
}

.main-card-header {
  background-color: rgb(254, 254, 254); /* Color de fondo amarillo */
  color: #e70000; /* Color del texto blanco */
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.main-title {
  font-size: 28px;
  text-transform: uppercase;
  margin: 0;
}

.btn-crear {
/* Estilos actuales del botón */
display: flex;
justify-content: center;
align-items: center; /* Alinea verticalmente el botón */
padding: 15px 20px;
gap: 8px;
height: 60px;
width: 200px;
border: none;
background: #fabc0b;
color: #ffffff;
border-radius: 50px;
cursor: pointer;
position: relative;
transition: background 0.3s ease, color 0.3s ease;
}

.btn-crear .span {
/* Estilos del icono dentro del botón */
border-radius: 50%;
background-color: #ffffff;
padding: 10px;
position: absolute;
left: 0;
}

.lable {
/* Estilos del texto del botón */
line-height: 22px;
font-size: 17px;
color: #ffffff;
margin-left: 20px;
font-family: sans-serif;
letter-spacing: 1px;
}

.btn-crear:hover {
/* Estilos en hover del botón */
background: #1285ad;
color: #ffffff;
}

.btn-crear:hover .svg-icon {
/* Estilos del icono en hover del botón */
animation: slope 0.8s linear infinite;
}
@keyframes slope {
0% {}
50% {
transform: rotate(15deg);
}
100% {}
}


.filter-form {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.filter-field {
  margin-bottom: 15px;
}

.filter-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.filter-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.table-container {
margin-top: 20px;
background-color: #ffffff;
border-radius: 15px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
overflow: auto; /* Cambiado a 'auto' para permitir desplazamiento horizontal en pantallas pequeñas */
}

.table-header {
background-color:#1197D4;
color: #ffffff;
font-weight: bold;
}

.table-row {
transition: background-color 0.3s ease;
}

.table-row:hover {
background-color: #f5f5f5;
}

@media (max-width: 600px) {
/* Aplicar estilos específicos para pantallas pequeñas aquí */
.table-container {
  overflow-x: auto; /* Agregado para permitir el desplazamiento horizontal en pantallas pequeñas */
}

/* Puedes ocultar ciertas columnas, cambiar el tamaño de fuente, etc. para mejorar la legibilidad en pantallas pequeñas */
}


.pagination {
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .btn-crear-cliente {
      font-size: 14px;
      padding: 8px 16px;
  }
}
.borrar_limpiar {
display: flex;
align-items: center;
}

.borrar_limpiar .btn {
margin-right: 10px;
background-color: #e5e1e1;
}

.borrar_limpiar .btn:link,
.borrar_limpiar .btn:visited {
text-transform: uppercase;
text-decoration: none;
color: #1285AD; /* Azul claro 2 para el color del texto */
padding: 10px 25px;
background-color: rgba(169, 169, 169, 0.5); /* Gris opaco */
border: 2px solid rgba(19, 96, 131, 0.7); /* Azul opaco para el borde */
border-radius: 12px;
display: inline-block;
transition: all .2s;
position: relative;
}

.borrar_limpiar .btn:hover {
transform: translateY(-5px);
box-shadow: 0 10px 20px rgba(2, 47, 150, 0.5);
}

.borrar_limpiar .btn:active {
transform: translateY(-3px);
}

.borrar_limpiar .btn::after {
content: "";
display: inline-block;
height: 100%;
width: 100%;
border-radius: 12px;
top: 0;
left: 0;
position: absolute;
z-index: -1;
transition: all .3s;
}

.borrar_limpiar .btn:hover::after {
background-color: rgba(19, 96, 131, 0.7); /* Azul opaco */
transform: scaleX(1.4) scaleY(1.5);
opacity: 0;
}


.input {
max-width: 190px;
height: 44px;
background-color: #05060f0a;
border-radius: .5rem;
padding: 0 1rem;
border: 2px solid transparent;
font-size: 1rem;
transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
display: block;
margin-bottom: .3rem;
font-size: .9rem;
font-weight: bold;
color: #05060f99;
transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
outline: none;
border-color: #05060f;
}

.input-group:hover .label, .input:focus {
color: #05060fc2;
}
.notification {
  display: inline-block;
  position: relative;
  background-color: #f0f0f0; /* Color de fondo gris claro */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* Ajusta el ancho según tus necesidades */
  max-width: 400px; /* Por ejemplo, limita el ancho a 400px */
  margin: auto;
}



.notiglow {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.4) 90%, rgba(255, 255, 255, 0) 100%);
border-radius: 8px;
pointer-events: none;
}

.notiborderglow {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
border: 2px solid rgba(247, 247, 247, 0.5);
border-radius: 8px;
pointer-events: none;
}

.notititle {
font-size: 1.5em;
color: #fabc0b;
font-weight: bold;
}

.notibody {
margin-top: 10px;
color: #1197D4;
}

/* Estilos responsivos */
/* Estilos generales */

/* Media query para pantallas con un ancho máximo de 500px */
@media (max-width: 400px) {
.notification {
padding: 8px; /* Reducir el padding para conservar el espacio */
}

.notititle {
font-size: 1.5em; /* Reducir el tamaño de la fuente del título */
}

.notibody {
margin-top: 8px; /* Reducir el margen superior */
font-size: 0.7em; /* Reducir el tamaño de la fuente del cuerpo */
}

/* Ajustar el margen del logotipo */
.logo {
margin-left: 20px;
margin-bottom: 5px;
}
}

.walletBalanceCard {
width: 100%;
height: 135px;
background-color: #ffffff;
border-radius: 50px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 2%;
font-family: Arial, Helvetica, sans-serif;
margin: 2% 0;
margin-left: 2%;
}

.svgwrapper {
width: 15%;
display: flex;
align-items: center;
justify-content: center;
flex-shrink: 0;
margin-left: 15%;
}

.svgwrapper svg {
width: 80%;
}

.balancewrapper {
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: center;
margin-left: auto;
margin-right: 2%;
}

.balanceHeading {
font-size: 20px;
color: rgb(201, 21, 21);
font-weight: 100;
letter-spacing: 0.6px;
margin-bottom: 5px;
text-align: right;
}

.balance {
font-size: 4vw; /* Cambié a unidades relativas para adaptarse mejor */
color: rgb(17, 173, 12);
font-weight: 600;
letter-spacing: 0.5px;
text-align: right;
}

.addmoney {
padding: 8px 15px;
border-radius: 20px;
background-color: #c083eb;
color: white;
border: none;
font-size: 12px;
cursor: pointer;
transition: all 0.3s;
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
}

.addmoney:hover {
background-color: whitesmoke;
color: #9c59cc;
}

.plussign {
font-size: 20px;
}

@media only screen and (max-width: 768px) {
.walletBalanceCard {
flex-direction: column;
}

.svgwrapper {
margin-left: 0;
margin-bottom: 10px;
}

.balancewrapper {
align-items: center;
text-align: center;
margin: 10px 0;
}
.balance {
font-size: 3vw;
}
}
