
.contenedor {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 10px;
  row-gap: 40px;
}

.caja,
.ciro {
  text-align: center;
  background-color: #FFF; /* Cambiado a fondo blanco */
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

.caja:before,
.ciro:before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #FF5F6D, #FF9671);
  transform: rotate(-45deg);
  transition: all 0.3s ease;
  z-index: -1;
}

.caja:hover,
.ciro:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.caja:hover:before,
.ciro:hover:before {
  top: 0;
  left: 0;
}

/* Contenido específico de 'ciro' */
.ciro {
  grid-column: span 12; /* Ocupa todo el ancho en dispositivos pequeños */
}

/* Contenido específico de 'caja' */
.caja {
  grid-column: span 12; /* Ocupa todo el ancho en dispositivos pequeños */
}

/* Contenido común */
.ciro-content,
.caja-content {
  padding: 20px;
  text-align: center;
}

.ciro-title,
.caja-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.ciro-description,
.caja-description {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}

.ciro-button,
.caja-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ciro-button:hover,
.caja-button:hover {
  color: #ffffff;
}

/* Media queries para dispositivos pequeños */
@media only screen and (min-width: 768px) {
  .contenedor {
    grid-template-columns: repeat(12, minmax(calc(100% / 12), 1fr));
  }
  
  .ciro {
    grid-column: 4 / span 3;
  }

  .caja {
    grid-column: 7 / span 3;
  }
}


    


